# Many settings are taken from jfrazelle whose dotfiles I stumbled across
[user]
	name = Scott Krulcik
	email = skrulcik@gmail.com
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[github]
	user = SkottyK
[push]
	default = matching
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	required = true
	clean = git-lfs clean -- %f
[core]
	editor = vim
[merge]
	log = true
[diff]
    # Detect copies as well as renames
	renames = copies
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = blue
[color "diff"]
	meta = yellow bold
	frag = magenta bold # line info
	old = red           # deletions
	new = green         # additions
[color "status"]
	added = green
	changed = yellow
	untracked = blue
